{% extends "base.html" %}

{% block content %}
	<main class="cf w-100 mw8-ns ph2-ns mv4 center">
		<div id="actor-0" class="fl w-100 w-50-ns ph3 mb4 dim pointer">
			<div>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="br4 aspect-ratio--object cover" 
					style="background:url(https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_80%2Cw_300/MTIwNjA4NjMzNjMyMDk3ODA0/roy-scheider-271664-1-402.jpg) center;"></div>
				</div>
				<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Roy Scheider</h3>
			</div>
			<div class="dn">
				<h3 class="bb b--black-30 w-80 pb3 center tc f3 f2-ns ttc garamond">Roy Scheider</h3>
				<p class="w-100 w-90-ns center tj f5 f5-ns lh-title measure">
					Lean, angular-faced and authoritatively spoken lead and supporting actor Roy Scheider obviously never heard the old actor's axiom about "never appearing with kids or animals" lest they overshadow your performance. Breaking that rule did him no harm, though, as he achieved pop cult status by finding, fighting and blowing up a 25-foot-long Great White shark in the mega-hit Jaws and then electrocuting an even bigger Great White in the vastly inferior Jaws 2.
				</p>
			</div>
		</div>

		<div id="actor-1" class="fl w-100 w-50-ns ph3 mb4 dim pointer">
			<div>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="br4 aspect-ratio--object cover" 
					style="background:url(https://musicimage.xboxlive.com/catalog/video.contributor.68711000-0200-11DB-89CA-0019B92A3933/image?locale=en-US&target=circle&mode=crop&q=90&h=373&w=373) center;"></div>
				</div>
				<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Robert Shaw</h3>
			</div>
			<div class="dn">
				<h3 class="bb b--black-30 w-80 pb3 center tc f3 f2-ns ttc garamond">Robert Shaw</h3>
				<p class="w-100 w-90-ns center tj f5 f5-ns lh-title measure">
					Robert Archibald Shaw was born on August 9, 1927 in Westhoughton, Lancashire, England, the eldest son of Doreen Nora (Avery), a nurse, and Thomas Archibald Shaw, a doctor. His paternal grandfather was Scottish, from Argyll. Shaw's mother, who was born in Piggs Peak, Swaziland, met his father while she was a nurse at a hospital in Truro, Cornwall. His father was an alcoholic and a manic depressive; he committed suicide when Robert was only 12. He had three sisters, Elisabeth, Joanna and Wendy and one brother, Alexander.
				</p>
			</div>
		</div>

		<div id="actor-2" class="fl w-100 w-50-ns ph3 mb4 dim pointer">
			<div>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="br4 aspect-ratio--object cover" 
					style="background:url(https://img.wennermedia.com/article-leads-horizontal/rs-182384-2663694.jpg) center;"></div>
				</div>
				<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Richard Dreyfuss</h3>
			</div>
			<div class="dn">
				<h3 class="bb b--black-30 w-80 pb3 center tc f3 f2-ns ttc garamond">Richard Dreyfuss</h3>
				<p class="w-100 w-90-ns center tj f5 f5-ns lh-title measure">
					Richard Dreyfuss is an American leading man, who has played his fair share of irritating pests and brash, ambitious hustlers. He was born Richard Stephen Dreyfus in Brooklyn, New York, to Geraldine (Robbins), an activist, and Norman Dreyfus, a restaurateur and attorney. His paternal grandparents were Austro-Hungarian Jewish immigrants, and his mother's family was Russian Jewish.
				</p>
			</div>
		</div>

		<div id="actor-3" class="fl w-100 w-50-ns ph3 mb4 dim pointer">
			<div>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="br4 aspect-ratio--object cover" 
					style="background:url(https://images-na.ssl-images-amazon.com/images/M/MV5BY2FlZDM0MjItN2MxZS00YTE0LWIyOTctMzY5NmNhYjk2YzZiL2ltYWdlXkEyXkFqcGdeQXVyMDgyNjA5MA@@._V1_.jpg) center;"></div>
				</div>
				<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Murray Hamilton</h3>
			</div>
			<div class="dn">
				<h3 class="bb b--black-30 w-80 pb3 center tc f3 f2-ns ttc garamond">Murray Hamilton</h3>
				<p class="w-100 w-90-ns center tj f5 f5-ns lh-title measure">
					Murray Hamilton was one of those character actors whose face would be familiar to most movie buffs at an instant, yet his name may not. That's a shame, because Hamilton was one of the most versatile and prolific of performers who was never anything less than completely convincing in any role he took on, from priests to gangsters, soldiers to politicians, ordinary men to aliens. His characters would rarely fail to evoke emotion, whether that be sympathy or dislike. He particularly excelled at hard-edged, street-wise tough guys on either side of the law.
				</p>
			</div>
		</div>
	</main>
{% endblock %}