{% extends "base.html" %}

{% block content %}
	<main class="cf w-100 mw8-ns ph2-ns mv4 center">
		<div class="fl w-100 w-50-ns ph3 mb4 dim">
			<div id="actor-1">
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="br4 aspect-ratio--object cover" style="background:url(https://ia.media-imdb.com/images/M/MV5BOTBjOTc4ODctYzg0YS00OTYzLThhM2EtNmNkNzM2NmY3N2VmXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_.jpg) center;"></div>
				</div>
			<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Roy Scheider</h3>
			</div>
			<div id="text-1" class="dn">
				<h3 class="bb b--black-30 w-80 pb3 center tc f3 f2-ns ttc garamond">Roy Scheider</h3>
				<p class="w-100 w-90-ns center tj f5 f5-ns lh-title measure">
					Lean, angular-faced and authoritatively spoken lead and supporting actor Roy Scheider obviously never heard the old actor's axiom about "never appearing with kids or animals" lest they overshadow your performance. Breaking that rule did him no harm, though, as he achieved pop cult status by finding, fighting and blowing up a 25-foot-long Great White shark in the mega-hit Jaws and then electrocuting an even bigger Great White in the vastly inferior Jaws 2.
				</p>
			</div>
		</div>

		<div class="fl w-100 w-50-ns ph3 mb4 dim">
			<div id="actor-2">
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="br4 aspect-ratio--object cover" style="background:url(https://musicimage.xboxlive.com/catalog/video.contributor.68711000-0200-11DB-89CA-0019B92A3933/image?locale=en-US&target=circle&mode=crop&q=90&h=373&w=373) center;"></div>
				</div>
			<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Robert Shaw</h3>
			</div>
			<div id="text-2" class="dn">
				<p>123</p>
			</div>
		</div>

		<div class="fl w-100 w-50-ns ph3 mb4 dim">
			<div id="actor-3">
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="br4 aspect-ratio--object cover" style="background:url(https://img.wennermedia.com/article-leads-horizontal/rs-182384-2663694.jpg) center;"></div>
				</div>
			<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Richard Dreyfuss</h3>
			</div>
			<div id="text-3" class="dn">
				<p>123</p>
			</div>
		</div>

		<div class="fl w-100 w-50-ns ph3 mb4 dim">
			<div id="actor-4">
			<div class="aspect-ratio aspect-ratio--1x1">
				<div class="br4 aspect-ratio--object cover" style="background:url(https://images-na.ssl-images-amazon.com/images/M/MV5BY2FlZDM0MjItN2MxZS00YTE0LWIyOTctMzY5NmNhYjk2YzZiL2ltYWdlXkEyXkFqcGdeQXVyMDgyNjA5MA@@._V1_.jpg) center;"></div>
			</div>
			<h3 class="bt b--black-30 w-80 pt3 center tc f3 f2-ns ttc garamond">Murray Hamilton</h3>
			</div>
			<div id="text-4" class="dn">
				<p>123</p>
			</div>
		</div>
	</main>
{% endblock %}