{% extends "base.html" %}

{% block content %}
<article>
	<header class="black sans-serif">
		<div class="mw9 center pv2 ph3 pb4-ns pt5-ns ph7-l">
		<time class="f6 mb2 dib ttu tracked"><small>20 júní, 1975</small></time>
		<h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
			<span class="bg-navy lh-copy white pa1 tracked-tight">
				&bdquo;You're gonna need a bigger boat.&ldquo;
			</span>
		</h3>
		<h4 class="f3 fw1 georgia i">Jaws - Steven Spielberg - 1975.</h4>
		<h5 class="f6 ttu tracked black-50">Örn Óli Strange</h5>
		</div>
	</header>

	<hr class="mw8 ma0 center">

	<div class="pv2 pt4-ns ph3 ph7-l georgia mw9-l center">
		<dl class="lh-title pv2 measure">
			<dt class="f4-ns f5 b">Leikstjórn</dt>
			<dd class="f5 ml2 mt1 mt2-ns">Steven Spielberg</dd>
			<dt class="f4-ns f5 b mt2">Leikarar</dt>
			<dd class="f5 tj ml2 mt1 mt2-ns">Roy Scheider, Robert Shaw, Richard Dreyfuss, Lorraine Gary, Murray Hamilton, Jeffrey Kramer, Jeffrey Voorhees, Lee Fierro, Jay Mello, Chris Rebello</dd>
			<dt class="f4-ns f5 b mt2">Handrit</dt>
			<dd class="f5 ml2 mt1 mt2-ns">Carl Gottlieb, Peter Benchley</dd>
		</dl>

		<p class="mv4 bl bw1 b--black-10 ml2 ml4-ns pl3 f5 f3-ns lh-copy measure">
			Vann 3 Óskarsverðlaun, fyrir hljóð, tónlist og klippingu.
		</p>

		<p class="mv4 f5 f4-ns lh-copy measure">
			Það er heitt sumar á Amity eyju, litlu samfélagi sem hefur viðurværi sitt að mestu af ferðamönnum og heimsóknum á strendurnar á eyjunni.
			Þegar nýr lögreglustjóri, Martin Brody, uppgötvar leifar af fórnarlambi hákarlaárásar, þá bregst hann strax við með því að loka ströndunum þannig að fólk sé ekki að synda í sjónum.
			Þetta leggst illa í bæjarstjórann Larry Vaughn og nokkra athafnamenn í bænum.
		</p>

		<p class="mv4 f5 f4-ns lh-copy measure">
			Brody neyðist til að afturkalla ákvörðun sína, en sér svo eftir því þegar ungur drengur lendir í kjaftinum á hákarli.
			Móðir drengsins ákveður að setja lausnargjald til höfuðs hákarlinum og ekki líður á löngu þar til úir og grúir af hákarlaveiðimönnum af ýmsu tagi og fiskimönnum sem vonast til að ná sér í pening, með því að fanga ókindina.
			Fiskimaður í bænum með mikla reynslu af því að veiða hákarla, Quint, býðst til að veiða skepnuna gegn myndarlegri þóknun.
		</p>

		<p class="mv4 f5 f4-ns lh-copy measure">
			Bráðlega eru Quint, Brody og Matt Hooper, frá hafrannsóknar-stofnuninni, komnir út á sjó til að reyna að veiða ófreskjuna.
			Eftir að þeir komast í tæri við hákarlinn, sér Brody að...<br><b><i>þeir þurfa að útvega sér stærri bát.</i></b>
		</p>
	</div>
</article>
{% endblock %}
